<!DOCTYPE html>
<html>
  <head>
    <title>Wikipedia Phrases Analyzer</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <h2 class="title">Konu Başlığı Gir</h2>
        <form method="post" action="/result">
          <input type="text" name="name" required />
          <button type="submit" class="search-icon">&#128269;</button>
          <p class="footer-text">
            Bunu deneyebilirsiniz: Golden State Warriors
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
